.doccard{
  width: 23rem;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
}
.doccard .btt{
  margin-left: 270px;
}
.btt button{
  padding: 5px 10px;
  margin-right: 5px;
}
.btt .one{
  background-color: rgb(0, 132, 255);
  color: white;

}
.btt .two{
  background-color: rgb(255, 0, 0);
  color: white;

}
.btt button:hover{
  background-color: black;
  color: #ffffff;
}


.container .ql-editor{
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
  background-color: white;
}
.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  border: 0px;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5); */

}
.ql-container.ql-snow{
  border: none;
display: flex;
justify-content: center;
}
.lii{
  height: 100px;
}
.but button{
  
}